@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap');

$mainFont: 'Montserrat', sans-serif;

*{
    color: black;
}


// tamaños de texto

$textS: 0.8em;
$textM: 1em;
$textL: 1.5em;